<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="oid:ValidAudience" value="microsoft:identityserver:273a928b-8f15-461d-a039-0005ba3e8f1d" />
    <add key="oid:MetadataAddress" value="https://adfs.johan.local/adfs/.well-known/openid-configuration" />
  </appSettings>
  <system.serviceModel>
    <!--<protocolMapping>
      <clear />
      <add scheme="https" binding="ws2007FederationHttpBinding" />
    </protocolMapping>
    <serviceHostingEnvironment>
      <serviceActivations>
        <add service="Wcf.Extensions.OpenIdConnect.Poc.WebHost.Service" relativeAddress="./service.svc"
             factory="System.ServiceModel.Activation.ServiceHostFactory" />
      </serviceActivations>
    </serviceHostingEnvironment>
    <bindings>
      <ws2007FederationHttpBinding>
        <binding>
          <security mode="Message">
            <message establishSecurityContext="false" issuedKeyType="BearerKey" />
          </security>
        </binding>
      </ws2007FederationHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <serviceCertificate findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>-->

    <services>
      <service name="Wcf.Extensions.OpenIdConnect.Poc.WebHost.Service">
        <!--<host>
          <baseAddresses>
            <add baseAddress="https://localhost:44332" />
          </baseAddresses>
        </host>-->
        <endpoint address="https://localhost:44332" binding="ws2007FederationHttpBinding" contract="Wcf.Extensions.OpenIdConnect.Poc.WebHost.IService" />
        <!--<endpoint address="http://localhost:8123" binding="basicHttpBinding" contract="Wcf.Extensions.OpenIdConnect.Poc.WebHost.IService" />-->
        <!--<endpoint address="http://localhost:8123/mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
      </service>
    </services>
    <bindings>
      <ws2007FederationHttpBinding>
        <binding>
          <security mode="TransportWithMessageCredential">
            <message establishSecurityContext="false" issuedKeyType="BearerKey" />
          </security>
        </binding>
      </ws2007FederationHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!--<serviceMetadata httpGetEnabled="true" />-->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <serviceCertificate findValue="localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <behaviors>
      <serviceBehaviors>
        <behavior name="CalculatorServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Wcf.Extensions.OpenIdConnect.Poc.WebHost.Service"
               behaviorConfiguration="CalculatorServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Wcf.Extensions.OpenIdConnect.Poc.WebHost.IService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>-->
  </system.serviceModel>
</configuration>